.pengingat-obat h1 {
    font-size: 48px;
    color: rgb(var(--grey3));
    font-weight: 700;
}

.pengingat-obat p {
    font-size: 18px;
    color: rgb(var(--grey2));
}

.pengingat-obat h5 {
    font-size: 24px;
    color: rgb(var(--grey3));
    font-weight: 700;
}

.pengingat-obat .form-control {
    padding: 12px 20px;
}

.pengingat-obat .form-control:focus {
    box-shadow: none;
    border-color: rgb(var(--blue3));
}

.pengingat-obat .submit-button {
    width: 100%;
    padding: 12px;
    font-weight: bold;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: rgb(var(--blue4));
    color: rgb(var(--white));
    border: none;
    transition: 0.25s ease;
}

.pengingat-obat .submit-button:hover {
    background-color: rgb(var(--blue1));
    color: rgb(var(--white));
}
