.home_dukungan-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
    width: 100px;
    transition: transform 0.3s;
}

.home_dukungan-item:hover {
    transform: translateY(-2px);
}

.home_dukungan-logo {
    width: 80px;
    height: 80px;
    background-color: rgb(var(--blue3));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_dukungan-logo img {
    width: 75%;
    height: auto;
}

.home_dukungan-text {
    font-size: 18px;
    font-weight: 500;
    color: rgb(var(--grey2));
}
